version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: muffin_wallet
      POSTGRES_USER: muffin-wallet
      POSTGRES_PASSWORD: muffin-wallet
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U muffin-wallet -d muffin_wallet"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
